<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manage books</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<nav th:fragment="header" class="navbar navbar-expand-lg navbar-dark" style="background-color: #3A5A81; color: white;">
    <a class="navbar-brand">Books Catalogue</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/login">Sign in<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/userBooks">Books</a>
            </li>
        </ul>

        <form th:action="@{/searchBook}" class="form-inline my-2 my-lg-1">
            <input class="form-control mr-sm-2" name="keyword" id="keyword" type="text" placeholder="Search"
                   aria-label="Search" th:value="${keyword}">
            <input class="btn btn-outline-success active my-2 my-sm-1" type="submit" value="Search"/>
        </form>

    </div>
</nav>
<div class="bg"></div>
<div class="container">
    <div class="text centered">
        <p>User, Welcome</p>
        <p>to the books catalogue!</p>
    </div>
</div>

</body>
</html>